
html
   head
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous")


   body
      nav(class="navbar navbar-default")
         div(class="container-fluid")
            div(class="navbar-header")
               h3  Bookshelf


      div(class="row")
         div(class="container")
            div(class=" col-md-3")
                  img(src="http://s3.r29static.com//bin/IMAGE/638/340x408/1618399/image.png" alt="...")
                  div(class="caption")
                     h4 Red
                     p   is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy
