
html
 head
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous")


 body
  nav(class="navbar navbar-default")
   div(class="container-fluid")
     div(class="navbar-header")
      h3  Bookshelf


 div(class="row")
  div(class=" col-md-3")
   a(href="http://www.refinery29.com/2016/10/125408/the-girl-on-the-train-movie-paula-hawkins-book" class="thumbnail")
    img(src="http://s3.r29static.com//bin/IMAGE/638/340x408/1618399/image.png" alt="...")

  div(class=" col-md-3")
    a(href="#" class="thumbnail")
     img(src="http://s2.r29static.com//bin/IMAGE/336/340x408,80/1668266/image.jpg" alt="...")

  div(class=" col-md-3")
    a(href="http://www.refinery29.com/2016/10/125408/the-girl-on-the-train-movie-paula-hawkins-book" class="thumbnail")
     img(src="http://s2.r29static.com//bin/IMAGE/4ce/340x408/1664665/image.png" alt="...")

  div(class=" col-md-3")
    a(href="#" class="thumbnail")
     img(src="http://s1.r29static.com//bin/IMAGE/22f/340x408/1575753/image.png" alt="...")
