
extends ../application.pug

block content

	div(class="row")
		div(class="container")
			div(class=" col-md-3")
				a(href="red" class="thumbnail")
					img(src="http://s3.r29static.com//bin/IMAGE/638/340x408/1618399/image.png" alt="...")
					div(class="caption")
						h3 Red
			div(class=" col-md-3")
				a(href="red" class="thumbnail")
					img(src="http://s2.r29static.com//bin/IMAGE/336/340x408,80/1668266/image.jpg" alt="...")
					div(class="caption")
						h3 Woman
			div(class=" col-md-3")
				a(href="the-girl-on-train" class="thumbnail")
					img(src="http://s2.r29static.com//bin/IMAGE/4ce/340x408/1664665/image.png" alt="...")
					div(class="caption")
						h3 The girl on train
			div(class=" col-md-3")
				a(href="if-you-could-mine" class="thumbnail")
					img(src="http://s1.r29static.com//bin/IMAGE/22f/340x408/1575753/image.png" alt="...")
					div(class="caption")
						h3 If you could be mine
