extends ../application.pug
block content


	.container
		.row
			.col-
				form(class="form-inline" action="/users" method="POST")
					.form-group
						label(for="exampleInputName2") Title
						input(type="text" class="form-control" id="exampleInputName2")

					.form-group
						label(for="exampleInputAuthor2") Author
						input(type="text" class="form-control" id="exampleInputLastname2")

					textarea(class="form-control" rows="3")
					button(type="submit" class="btn btn-default") add book
