extends ../application.pug
block content



	div(class="row")
		div(class="container")
			div(class=" col-md-3")
				img(src="http://s1.r29static.com//bin/IMAGE/22f/340x408/1575753/image.png" alt="...")
				div(class="caption")
					h4 If you could be mine
					p  is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy
