extends ../application.pug
block content
	div(class="row")
		div(class="container")
			div(class=" col-md-3")
				img(src="http://s2.r29static.com/bin/IMAGE/4ce/340x408/1664665/image.png" alt="...")
				div(class="caption")
					h4 The girl on train
					p is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
